#primary_nav_wrap img ul{
    left: 0;
    top: 0;
    list-style:none;
    background: #212121;
    color: white;
    margin:0;
    padding:0;
    display: inline-table;
}

#primary_nav_wrap ul a {
    text-align: center;
    display: block;
    color: #9C9C9C;
    text-decoration:none;
    font-weight:700;
    font-size: 22px;
    line-height:5px;
    padding: 15px 15px;
    background: #212121;
    font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    transition: all 150ms linear;
}

#primary_nav_wrap ul a:hover {
    color: white;
    background-color: #2d2f33;
    text-shadow: 0 0 2px white;
    -webkit-text-shadow: 0 0 2px white;
    -moz-text-shadow: 0 0 2px white;
    -o-text-shadow: 0 0 2px white;
    -ms-text-shadow: 0 0 2px white;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    transition: all 150ms linear;
}

#primary_nav_wrap ul a:active {

    color: #8ABF29;
    background-color: #2d2f33;
    -webkit-transition: all 50ms linear;
    -moz-transition: all 50ms linear;
    -ms-transition: all 50ms linear;
    -o-transition: all 50ms linear;
    transition: all 50ms linear;
}

#primary_nav_wrap ul li {
    position:relative;
    float:left;
    margin: 0;
    padding:0;
    background: #212121;
}

#primary_nav_wrap ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background: #212121;
    padding:0;
}

#primary_nav_wrap ul ul li {
    float:none;
    width: 150px;
}

#primary_nav_wrap ul ul a {
    text-align: center;
    font-size: 12px;
    line-height:120%;
    padding:10px 15px;
    background: #212121;

}


#primary_nav_wrap ul ul ul {
    top:0;
    left:100%
}

#primary_nav_wrap ul li:hover > ul {
    display:block;
    float: left;

}

#primary_nav_wrap li a {
    text-align: center;
    display: block;
    color: #9C9C9C;
    text-decoration:none;
    font-weight:700;
    font-size: 22px;
    line-height:5px;
    padding: 15px 15px;
    background: #212121;
    font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    transition: all 150ms linear;
}
#primary_nav_wrap li a:hover {
    color: white;
    background-color: #2d2f33;
    text-shadow: 0 0 2px white;
    -webkit-text-shadow: 0 0 2px white;
    -moz-text-shadow: 0 0 2px white;
    -o-text-shadow: 0 0 2px white;
    -ms-text-shadow: 0 0 2px white;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    transition: all 150ms linear;
}
#primary_nav_wrap {
    list-style:none;
}


.leftbar {
    position: absolute;
    height: 100%;
    width: 0;

    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.leftbar a {
    position: absolute;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.leftbar a:hover {
    color: #f1f1f1;
}

.leftbar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    position: relative;
    transition: margin-left .3s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .leftbar {padding-top: 15px;}
    .leftbar a {font-size: 18px;}
}